.course-card {
    width: 250px;
    height: 200px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-card.selected {
    background-color:rgb(251, 205, 255);
  }

.course-card.unselectable {
    opacity: 0.5;;
}

.card-body {
    padding: 15px;
}

.course-term {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 5px;
}

.edit-link {
    color: #333;
}

.course-title {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 10px;
    height: 90px;
}

.course-meets {
    font-size: 0.9rem;
    color: #777;
}