.edit-field {
    margin: 50px auto;
    padding: 20px;
    max-width: 500px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.edit-field form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

.form-group input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.2s;
}

.form-group input:focus {
    border-color: #007BFF;
    outline: none;
}

.edit-field button {
    margin-top: 10px;
    padding: 5px 10px;
    height: 45px;
    border: 2px solid purple;
    background-color: rgb(214, 172, 235);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 20px;
}

.edit-field button:hover {
    background-color: #b049cf;
}

.error-message {
    color: red;
    font-size: 12px;
}